.nav {
  width: 425px;
  height: 40px;
  display: flex;
  justify-content: right;
  align-items: center;
}
.button {
  background-color: var(--button-inactive-background);
  color: var(--font-color-white);
  border: none;
  font-family: "Jua", sans-serif;
  font-size: 15px;
  margin-left: 10px;
  margin-bottom: 8px;
  padding: 10px;
  border-radius: 10px;
}
.activebutton {
  background-color: var(--button-active-background);
  color: var(--font-color-white);
  border: none;
  font-family: "Jua", sans-serif;
  font-size: 15px;
  margin-left: 10px;
  margin-bottom: 8px;
  padding: 10px;
  border-radius: 10px;
}
.modebtn {
  background-color: transparent;
  border: none;
  color: var(--font-color-white);
  font-size: 30px;
  padding: 170px;
}
