.content {
  color: var(--font-color-white);
  font-size: 20px;
  font-family: var(--font-jua);
  background-color: var(--list-background);
}

@media screen and (min-width: 450px) {
  .content {
    height: 400px;
    width: 450px;
  }
  .item {
    padding-bottom: 10px;
    padding-left: 20px;
  }

  .article {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .trashbtn {
    padding-right: 20px;
    cursor: pointer;
  }
  .checkwork {
    display: flex;
    flex-direction: row;
  }
  .work {
    max-width: 90%;
    width: 90%;
    word-break: break-all;
    padding-left: 5px;
  }
}
@media screen and (max-height: 700px) and (max-width: 450px) and (min-width: 200px) {
  .content {
    height: 100%;
    width: 300px;
  }
  .item {
    padding-left: 5px;
  }

  .article {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .trashbtn {
    margin-right: 10px;
    cursor: pointer;
  }
  .checkwork {
    display: flex;
    flex-direction: row;
  }
  .work {
    max-width: 90%;
    width: 90%;
    word-break: break-all;
    padding-left: 5px;
  }
}
@media screen and (max-height: 900px) and (min-height: 700px) and (max-width: 450px) and (min-width: 200px) {
  .content {
    height: 100%;
    width: 300px;
  }
  .item {
    padding-left: 5px;
  }

  .article {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .trashbtn {
    margin-right: 15px;
    cursor: pointer;
  }
  .checkwork {
    display: flex;
    flex-direction: row;
  }
  .work {
    max-width: 90%;
    width: 90%;
    word-break: break-all;
    padding-left: 5px;
  }
}
