.content {
  color: var(--font-color-white);
  font-size: 20px;
  font-family: "Jua", sans-serif;
  height: 400px;
  width: 450px;
  background-color: var(--list-background);
}

.item {
  padding-bottom: 10px;
  padding-left: 30px;
}

.article {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.trashbtn {
  padding-right: 40px;
  cursor: pointer;
}
.checkwork {
  display: flex;
  flex-direction: row;
}
.work {
  max-width: 300px;
  word-break: break-all;
  padding-left: 5px;
}
