.content {
  color: beige;
  font-size: 20px;
  font-family: "Jua", sans-serif;
  height: 400px;
  width: 450px;
  background-color: #29265c;
}

.item {
  padding-bottom: 10px;
}

.article {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.trashbtn {
  padding-right: 40px;
}
.work {
  max-width: 300px;
  word-break: break-all;
}
